<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StudentManagementApp.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students">Students</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courses">Courses</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="enrollments">Enrollments</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fees">Fees</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attendance">Attendance</NavLink>
        </div>
    </nav>
</div>

